body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.chat {
  width: 800px;
}

div.messageList {
  height: 60%;
  border: 1px solid black;
  border-radius: 5px;
  background: #E6E6E6;
  overflow-y: scroll;
  padding: 5px;
}

.message {
  border-radius: 20px !important;
  margin: 5px !important;
  width: 70%;
  display: grid;
  grid-template-columns: 20% 70% 10%;
  grid-template-rows: 30% 20% 30% 20%;
  overflow-x: hidden;
}

.message .image {
  margin-right: 10px !important;
  grid-column: 1;
  grid-row: 1 / 4;
}

.message  .content {
  grid-column: 2;
  grid-row: 1 / 4;
}

.message > .createdAt {
  grid-column: 3;
  grid-row: 1;
}

.message .like {
  grid-column: 3;
  grid-row: 4;
  display: flex;
  justify-content: center;
}

.liked .icon {
  color: red;
}

.message > .like:hover {
  color: red;
  cursor: pointer;
}

.message .edit {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  visibility: hidden;
  color: #6E6E6E;
}

.currentUserMessage .edit {
  grid-column: 1;
  grid-row: 1;
  justify-content: flex-start;
}

.currentUserMessage .delete {
  grid-column: 1;
  grid-row: 2;
  color: #6E6E6E;
  visibility: hidden;
}

.message:hover .edit,
.message:hover .delete {
  visibility: visible;
}

.message .item:hover,
.message .delete:hover {
  color: black;
  cursor: pointer;
}

.currentUserMessage {
  float: right !important;
  display: grid;
  grid-template-columns: 5% 10% 70% 10%;
  grid-template-rows: 50% 50%;
}

.currentUserMessage .item {
    margin: 6px 0;
}



.currentUserMessage .content {
  grid-column: 3;
  grid-row: 1 / 2;
}

.currentUserMessage .createdAt {
  grid-column: 4;
  grid-row: 1;
}

h5.divider {
  margin-top: 10px !important;
}

div.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  margin-top: 30px !important;
}

div.header h3 {
  margin: 0;
}

#inputMessage {
  margin-top: 10px;
}

#inputMessage textarea {
  resize: none !important;
}

.updateMessageInput {
  width: 100%;
}

/* --------------------------------------*/

.ui.modals.active {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
